<% if(order_msg != ''){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= order_msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% } %>
<% if(success_msg != ''){ %>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <%= success_msg %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
<% } %>
<% if(ordersuccess_msg != ''){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= ordersuccess_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>
<% if(cart_msg != ''){ %>
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    <%= cart_msg %>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>