<% include partials/nav %>
<body>
    <h2 class=" masthead mt-5 mb-0 pb-5 page-section-heading text-center text-secondary">Edit/Delete Items</h2>
    <div class="container">
        <form method="POST" action="/products/update/<%=productitem._id%>">
            <div class="form-group">
                <label for="title">Product Name:</label>
                <input type="string" class="form-control" id="title" name="title" placeholder="Enter title" value="">
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <input type="string" class="form-control" id="category" name="category" placeholder="Category" value=" ">
            </div>
            <div class="form-group">
                <label for="description">Description:</label>
                <input type="string" class="form-control" id="description" name="description" placeholder="Enter description" value=" ">
            </div>
            <div class="form-group">
                <label for="sth">Idon't know:</label>
                <input type="string" class="form-control" id="sth" name="sth" placeholder="sth" value=" ">
            </div>
            <div class="mb-3">
                <button type="submit " class="btn btn-primary mr-2" name="action">Submit</button>
                
            </div>
        </form>
</body>

</html>
</div>
<% include partials/footer %>
</body>